{# empty Twig template #}
{% extends "::base.html.twig" %}
{% block conteudo %}
<div class="caixa-eventos">
    <h3 class="titulo-pagina">Seja um Distribuidor</h3>
    <p class="subtitulo-produto">Ol&aacute;! Precisamos saber 
        algumas informa&ccedil;&otilde;es</p>
    <br />
    <p>Sou um:</p>
    <div id="caixa-distribuidor-tipo">
        <input type="radio" name="tipo-distribuidor" class="radio-distribuidor" checked="checked"
               id="tipo-distribuidor-representante" value="representante" /> Representante Comercial
        <br />
        <input type="radio" name="tipo-distribuidor" class="radio-distribuidor"
               id="tipo-distribuidor-distribuidor" value="distribuidor" /> 
        {#<label class="label-distribuidor" for="tipo-distribuidor-distribuidor">#}Distribuidor{#</label>#}
        <br />
        <input type="radio" name="tipo-distribuidor" class="radio-distribuidor"
               id="tipo-distribuidor-varejista" value="varejista" /> 
        {#<label class="label-distribuidor" for="tipo-distribuidor-varejista">#}Varejista{#</label>#}
    </div>
    <div id="caixa-distribuidor-form">
        <p class="subtitulo-produto centralizar"><strong>Por favor, preencha os dados abaixo:</strong></p>
        <br />
        <form name="form-envia-distribuidor" 
                id="form-envia-distribuidor" 
                action="{{ path('franbella_site_cadastra_contato_distribuidor') }}" method="POST">
              {{ form_widget(form) }}
              <label for="forn" class="input-auto input-inicial">*Fornecedor: </label>
              <input class="input-auto" type="text" name="forn" id="forn" required="required" />
              <label for="contato" class="input-auto">*Contato: </label>
              <input class="input-auto" type="text" name="contato" id="contato" required="required" />
              <label for="tel" class="input-auto">*Tel: </label>
              <input class="input-auto" type="text" name="tel" id="tel" required="required" />
              <br />
              <label for="forn2" class="input-auto input-inicial">*Fornecedor: </label>
              <input class="input-auto" type="text" name="forn2" id="forn2" required="required" />
              <label for="contato2" class="input-auto">*Contato: </label>
              <input class="input-auto" type="text" name="contato2" id="contato2" required="required" />
              <label for="tel2" class="input-auto">*Tel: </label>
              <input class="input-auto" type="text" name="tel2" id="tel2" required="required" />
              <br />
              <label for="forn3" class="input-auto input-inicial">*Fornecedor: </label>
              <input class="input-auto" type="text" name="forn3" id="forn3" required="required" />
              <label for="contato3" class="input-auto">*Contato: </label>
              <input class="input-auto" type="text" name="contato3" id="contato3" required="required" />
              <label for="tel3" class="input-auto">*Tel: </label>
              <input class="input-auto" type="text" name="tel3" id="tel3" required="required" />
              <input class="input-auto" type="hidden" name="tipo_distribuidor" id="tipo_distribuidor" 
                     required="required" />
              <br />
              <input type="submit" value="Enviar" style="margin-left: 10%;" {#class="submit-direita"#} />
          </form>
          <p style="margin-left: 10%;">* Campos Obrigat&oacute;rios</p>
    </div>
    <span style="clear: both"></span>
    {% for flashMessage in app.session.flashbag.get('retorno-contato') %}
        <div class="resposta-contato-distribuidor">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <br />
    
    <h3 class="subtitulo-produto">Nossos Parceiros Atuais</h3>
    <div id="caixa-distribuidores-atuais">
        {% for distribuidor in distribuidores %}
        <div class="logo-result">
            <img src="{{ ('uploads/distribuidor/logo/' ~ distribuidor.logo) | imagine_filter('my_thumb_dist') }}" />
        </div>
        {% endfor %}
    </div>
    
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/jquery.validate.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/messages_pt_BR.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        
        $('#form-envia-distribuidor').validate({
            rules:{
                "franbella_bundle_sitebundle_distribuidor_[razao_social]":{
                    required: true
                }
            },
            messages:{
                "franbella_bundle_sitebundle_distribuidor_[razao_social]":{
                    required: ""
                }
            },
            errorPlacement: function(error, element) {}
            
            {#errorLabelContainer: "#erros",
            wrapper: "li"#}
        });
        
        $('.resposta-contato-distribuidor').fadeOut(5000);
        
        $('#franbella_bundle_sitebundle_distribuidor_qtd_representantes').removeAttr('required');
        
        $('#franbella_bundle_sitebundle_distribuidor_qtd_representantes').hide();
        $('#franbella_bundle_sitebundle_distribuidor_qtd_representantes').prev('label').hide();

        $('#franbella_bundle_sitebundle_distribuidor_cpf_cnpj').prev('label').text('*CPF: ');
        
        $('.radio-distribuidor').click(function(){
            //alert("AAA");
            console.log($('.radio-distribuidor:checked').val());
            
            $('#franbella_bundle_sitebundle_distribuidor_qtd_representantes').prop('required',true);
            
            $('input, label').show();
            $('#franbella_bundle_sitebundle_distribuidor_cpf_cnpj').prev('label').text('CNPJ:');
            $('#franbella_bundle_sitebundle_distribuidor_cpf_cnpj').mask('00.000.000/0000-00');
            
            $('#tipo_distribuidor').val($('.radio-distribuidor:checked').val());
            
            if($('.radio-distribuidor:checked').val() === 'representante'){
                
                $('#franbella_bundle_sitebundle_distribuidor_qtd_representantes').removeAttr('required');
                
                $('#franbella_bundle_sitebundle_distribuidor_qtd_representantes').hide();
                $('#franbella_bundle_sitebundle_distribuidor_qtd_representantes').prev('label').hide();
                
                $('#franbella_bundle_sitebundle_distribuidor_cpf_cnpj').prev('label').text('CPF:');
                
                $('#franbella_bundle_sitebundle_distribuidor_cpf_cnpj').mask('000.000.000-00');
                
            }
            
        });
        
        
        $('#franbella_bundle_sitebundle_distribuidor_cpf_cnpj').mask('00.000.000/0000-00');
        $('#franbella_bundle_sitebundle_distribuidor_inscricao_estadual').mask('0099999999999999');
        $('#franbella_bundle_sitebundle_distribuidor_telefone_fixo').mask('(00) 0000-00009');
        $('#franbella_bundle_sitebundle_distribuidor_celular').mask('(00) 0000-00009');
        $('#franbella_bundle_sitebundle_distribuidor_ramal').mask('009999999999');
        $('#franbella_bundle_sitebundle_distribuidor_qtd_representantes').mask('09999999999');
        $('#tel').mask('(00) 0000-00009');
        $('#tel2').mask('(00) 0000-00009');
        $('#tel3').mask('(00) 0000-00009');
        $('#franbella_bundle_sitebundle_distribuidor_faturamento_bruto').mask("#.##0,00", {reverse: true, maxlength: false});
        
    });
</script>
{% endblock %}